<div class="about">
  <h2>What is Movie Lovers?</h2>
  <p>There are millions of songs on Spotify. Play your favorites, discover
    new tracks, and build the perfect collection.
  </p>
  <h2>Movies & Friends</h2>
  <p>You’ll find readymade playlists to match your mood, put together by
    music fans and experts.
  </p>
</div>
