<div class="container border">
  <div class="row">
    <div class="col-md-6">
      <h2 class="title">Your Invited...</h2>
      <h5>Discover new movies, rated and reviews by your friends and family</h5>
    </div>
    <div class="col-md-6">
      <div id="front">
      </div>
    </div>
</div>
